<html>
<head>
    <meta charset="UTF-8" />
    <title>Multiplayer Experiment</title>

	
	<!-- Load some styles -->
	<link href="public/css/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="public/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <script src="public/js/jquery-3.3.1.min.js"></script>
	
    <!-- Some simple styles and fonts -->
    <style type="text/css">
        body, html { /* Remove margins */
            margin: 0px;
            position: relative;
        }

        canvas { /* Center the canvas */
            margin: auto;
            cursor: crosshair;
            /*border: 1px solid black;*/
        }
    </style>
</head>
<body>

<!-- Header w/ icon stamp -->
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<img src="public/images/header1.png" alt="logo" width="10%" height="10%";/>
			<h1><a href="/">Web Siege</a></h1>
			<span>Developed by <a href="/aboutus" rel="nofollow">Two Dudes</a></span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>