<!-- Menu -->
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/" accesskey="1" title="">Home</a></li>
			<li><a href="/about" accesskey="2" title="">About Us</a></li>
			<li><a href="/game" accesskey="3" title="">Game</a></li>
			<li><a href="/documentation" accesskey="4" title="">Game Design Document</a></li>
			<li><a href="/inspiration" accesskey="5" title="">Inspiration</a></li>
			<li><a href="/contact" accesskey="6" title="">Contact Us</a></li>
		</ul>
	</div>
</div>