<% include partials/header %>

<% include partials/menu %>

<!-- About Us -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>About Us</h2>
					<span class="byline">Two Dudes</span>
				</div>
				<p><strong>Two Dudes</strong> are two students at studying at University West of Scotland. Our dicipline is Computer Science, Game Development. <BR> We bring you a fun to play shooter called <strong>Web Siege</strong> play it now by clicking play now.</p>
				<% include partials/playnow %>
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
