<% include partials/header %>

<% include partials/menu %>

<!-- Contact Us -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Contact Us</h2>
					<span class="byline">Two Dudes</span>
				</div>
				<p><strong>Kamil Witonski</strong> The lead Web Programmer behind Web Siege, responsible for server programming and game development. <BR> www.kamilwitonski.me <BR> linkedin page</p> <BR>
				<p><strong>Darren Griffiths</strong> The lead Web Designer behind Web Siege, responsible for web-design and game development. <BR> www.darrengriffiths.me <BR> linkedin page</p>
				<a href="#" class="button">Play Now</a>
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
