<% include partials/header %>

<% include partials/menu %>

<!-- Contact Us -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Contact Us</h2>
					<span class="byline">Two Dudes</span>
				</div>
				<p><strong>Kamil Witonski</strong> The lead Web Programmer behind Web Siege, responsible for server programming and game development. <BR> <a href="http://www.loskamilios.co.uk">www.loskamilios.co.uk</a> <BR> linkedin page</p> <BR>
				<p><strong>Darren Griffiths</strong> The lead Web Designer behind Web Siege, responsible for web-design and game development. <BR> <a href="http://www.darrengriffiths.me">www.darrengriffiths.me</a> <BR> linkedin page</p>
				<% include partials/playnow %>
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
