<% include partials/header %>
<!-- Load the Phaser game library -->
    <!-- <script src="public/js/phaser.min.js"></script> -->
    <script src="public/js/phaser-big.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/phaser/2.6.2/phaser.js"></script> -->



<!-- Load the Socket.io networking library -->
<script src="/socket.io/socket.io.js"></script>

<!-- <script src="public/js/Entity.js"></script> -->
<script src="public/js/player.js"></script>
<script src="public/js/clientCode.js"></script>



<!-- Load states-->
<script src="public/js/boot.js"></script>
<script src="public/js/load.js"></script>
<script src="public/js/premenu.js"></script>
<script src="public/js/menu.js"></script>
<script src="public/js/play.js"></script>
<script src="public/js/gameEnd.js"></script>
<script src="public/js/stats.js"></script>
<script src="public/js/game.js"></script>


<!-- <%= console.log(user); %> -->
<!-- <%= console.log(user1); %> -->
<input id="user_id" type="hidden" name="user" value="<%= user1.id %>">

<script type="text/javascript">
	// console.log(user);
	console.log(user1);
</script>

<% include partials/menu %>

<!-- Game Window w/ introduction -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
			    <!-- Game Divison -->
				<div id="gameDiv"></div>
	
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
