<% include partials/header %>

<% include partials/menu %>

<!-- Game Window w/ introduction -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Introduction</h2>
					<span class="byline">Web Siege</span>
				</div>
				<p><h1><strong><iframe width="640" height="360" src="https://www.youtube.com/embed/ZVsuDe4h5s4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </strong></h1><BR>
				<strong>Web Siege</strong> is a free web-game where you, the player battle against other players in a bid to hit the kill score. We hope you enjoy our game.<BR>
				Please feel free to roam around our website, were you will find our game design document, a video demo of the game and how to contact us. 
				</p>
				<% include partials/playnow %>
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
