<% include partials/header %>

<% include partials/menu %>

<!-- Inspiration -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Inspiration</h2>
					<span class="byline">Web Siege</span>
				</div>
				<p><strong>Web Siege</strong> is a free web-game where you, the player battle against other players in a bid to hit the kill score.
				When deciding to make our webgame, our discussion was based around a number of games that inspired us currently and in the past. We both absolutely love Rainbow Six Siege. 
				It was decided that we wanted a shooter. When we then got discussing what kind of shooter we were wanting to make, Soldat came to mind.
				Let's head towards this approach and mix it up with some R6:Siege aspects! Great!<BR>
				We then got to level environment and we both agreed that a worms was epic for 2D shooting in regards to level design and so it was decided that this would be our style of level design.<BR>
				When it came to art and character style we wanted to keep it quite relevant to the aim of the game, shooter, siege and worms type design. So, we decided that South Parks art style really captured a balance between any type of scenario. We took inspiration
				from all these sources and came up with a game that we are really happy with.</p>
				<% include partials/playnow %>
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
