<% include partials/header %>

<% include partials/menu %>

<!-- Game Window w/ introduction -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Introduction</h2>
					<span class="byline">Web Siege</span>
				</div>
				<p><strong>Web Siege</strong> is a free web-game where you, the player battle against other players in a bid to hit the kill score. We hope you enjoy our game.</p>
				<% include partials/playnow %>
			</div>		
		</div>
	</div>
</div>

<% include partials/footer %>
