<% include partials/header %>

<% include partials/menu %>

	
<!-- Contact Us -->
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Signup</h2>
					<span class="byline">Just pick an username and a password and you're good to go!</span>
					<form action="/signup" method="POST">
						<p>
							<h4>Username</h4>
							<input type="text" name="username" id="username">	
						</p>

						<p>
							<h4>Password</h4>
							<input type="password" name="password" id="password">	
						</p>

						<div>
							<p class="error-msg" style="display:none;">ERROR!</p>
						</div>


						<button id="signup-btn">Create Account</button>					
						
					</form>
				</div>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#signup-btn').on('click', function(e) {
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: '/signup',
			data: {username: $('#username').val(), password: $('#password').val()},
			success: function(data) {
				console.log(data);
				if(data.status == "error") {
					$('.error-msg').show();
					$('.error-msg').text("");
					$('.error-msg').text("ERROR! " + data.message);
				} else {
					window.location.href = "/login";
				}
			},
			error: function(data) {
				console.log(data);
			}
		});
	});
</script>

<% include partials/footer %>
